<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="{{ site.author.name }}">
	
	<title>{{ page.title }}</title>
	
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
	<link href="http://{{ site.url }}{{ site.JB.rss_path }}" rel="alternate" title="{{ page.title }}" type="application/rss+xml">
	<link href="http://{{ site.url }}{{ site.JB.atom_path }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
		
	<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>	
		
	<!-- jQuery library (served from Google) -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>

<body>
<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<nav class="nav-global">
					<ul>
						<li class="logo"><a href="/">{{ site.title }}</a></li>
						<li class="home"><a href="/">home</a></li>
						<li class="about"><a href="/about.html">about</a></li>
						<!-- <li class="archive"><a href="/blog.html">archive</a></li>
						<li class="tags"><a href="/tags.html">tags</a></li> -->
						<li class="archive"><a href="/archive.html">archive</a></li>
						<li class="projects"><a href="/projects.html">projects</a></li>
						<li class="fitness"><a href="/fitness.html">fitness</a></li>
					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<div style="float: right; padding: 0 26px 0 0;">
						<h4 style="float: right;">about</h4>
						<ul>
								<img src="/assets/images/mark_600x728.jpg" width="231" height="280">
								<br>
								<a href="https://twitter.com/markmcerqueira"><img src="/assets/images/webicons/fc-webicon-twitter.png" width="44" height="48" alt="Twitter" /></a>
								<a href="http://www.yelp.com/user_details?userid=V4unpKMFq8kSHDMw2UW9rQ"><img src="/assets/images/webicons/fc-webicon-yelp.png" width="44" height="48" alt="Yelp" /></a>
								<a href="https://plus.google.com/115447608718072621401"><img src="/assets/images/webicons/fc-webicon-googleplus.png" width="44" height="48" alt="Google+" /></a>
								<a href="https://github.com/markcerqueira"><img src="/assets/images/webicons/fc-webicon-github.png" width="44" height="48" alt="GitHub" /></a>
								<a href="http://www.linkedin.com/in/markcerqueira/"><img src="/assets/images/webicons/fc-webicon-linkedin.png" width="44" height="48" alt="LinkedIn" /></a>
						</div>
					</ul>
				</div><!-- misc -->
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>

<script>
	(function(d, s) {
		var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.src = url; js.id = id;
		fjs.parentNode.insertBefore(js, fjs);
		};
	load('//platform.twitter.com/widgets.js', 'tweetjs');
	}(document, 'script'));
</script>

<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>

{% include JB/analytics %}
</body>
</html>
