<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>
						
			<div class="bd">
				<div class="entry-content">
					{{ content }}
					
					<div class="meta">
						<div style="height: 1em; border-top: 2px solid rgba(21, 25, 25, 0.8);"></div>
						
						<p class="date-publish">
							<strong>Published:</strong> 
							<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
							<span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
							<span class="day">{{ page.date | date: '%d' }}</span>
							<span class="year">{{ page.date | date: '%Y' }}</span>
							</date>
						</p>
						
						<div style="height: 1em;">&nbsp;</div>
												
						{% assign hasSimilar = '' %}
						{% for post in site.related_posts %}
						    {% assign postHasSimilar = false %}
						    {% for tag in post.tags %}
						        {% for thisTag in page.tags %}
						            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
						                {% if hasSimilar.size == 0 %}
										<span class="list-head"><strong>Related Posts:</strong><br></span>
						                {% endif %}
									  		<li style="padding-left: 10px;"><a href="{{ post.url }}">{{ post.title }}</a><br/></li>
						                    <!-- {% if post.series %}
						                        (Series: {{ post.series }})
						                    {% endif %} -->
						                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
						                {% assign postHasSimilar = true %}
						            {% endif %}
						        {% endfor %}
						    {% endfor %}
						{% endfor %}
						{% if hasSimilar.size > 0 %}
						    </ul>
						{% endif %}
						
						<!-- <span class="list-head">Related Posts:<br></span>
						{% for post in site.related_posts limit:4 %}
							{% if page.title != post.title %}
						  		<li style="padding-left: 10px;"><a href="{{ post.url }}">{{ post.title }}</a><br/></li>
						    {% endif %}
						{% endfor %} -->
						
						<div style="height: 1em;">&nbsp;</div>
						
						<span class="list-head"><strong>Tags:</strong></span>
						<ul style="margin-bottom: 0px;" class="list-tag list-linear">
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
					</div>
				</div><!-- entry-content -->
				<br>
			</div><!-- bd -->
			
			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						<ul style="padding-left: 0px">
							{% if page.previous %}
								<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.previous and page.next %}
								<li class="pipe">&nbsp;&nbsp;|&nbsp;&nbsp;</li>
							{% endif %}
							{% if page.next %}
								<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
							{% endif %}
						</ul>
					</nav>
					<!-- <p class="gotop">
						<a href="#page">Back to Top</a>
					</p> -->
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
